[submodule "public"]
	path = public
	url = git@github.com:sim590/sim590.github.io.git
	branch = master
[submodule "themes/zzo"]
	path = themes/zzo
	url = https://github.com/sim590/hugo-theme-zzo
    branch = i18n-eo
